module Protocol
  class {{.Service.Name}}Service < Protocol::Service
    self.service_name = :{{snakeCase .Service.Name}}_service

    {{- range .Service.Method}}
    rpc :{{snakeCase .Name}}, Protocol::Rpc::{{.Name}}Request, Protocol::Rpc::{{.Name}}Response
    {{- end}}
  end
  Protocol.register_service :{{snakeCase .Service.Name}}, {{.Service.Name}}Service
end
